@* Indicar el modelo que va a utilizar *@
@model TipoEmpleado
@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modificar</h1>

<div class="card">
    <div class="card-header">
        Modificar Tipo de Empleado
    </div>
    <div class="card-body">
        <form asp-action="Modificar" asp-controller="Home" method="post">
            <div class="mb-3">
                <label class="form-label">Código</label>
                <input asp-for="IdTipoEmpleado" type="text" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input asp-for="Descripcion" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label>
                    <input type="checkbox" asp-for="Estado" checked />
                    Activo
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Modificar</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
