@* Indicar el modelo que va a utilizar *@
@model TipoEmpleado
@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modificar</h1>

<div class="card">
    <div class="card-header">
        Modificar Tipo de Empleado
    </div>
    <div class="card-body">
        <form asp-action="Modificar" asp-controller="Home" method="post">
            <input asp-for="IdTipoEmpleado" type="hidden" class="form-control" />

            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input asp-for="Descripcion" type="text" class="form-control">
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Estado"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="" disabled="" selected="">Selecciona el estado</option>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
