@model GamesClub.Models.Empleado
@{
    ViewData["Title"] = "Modificar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Modificar Empleado
    </div>
    <div class="card-body">
        @if (Model != null && ViewBag.TiposEmpleado != null)
        {
            <form asp-action="Modificar" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="codEmpleado" class="form-label">Código de Empleado</label>
                    <input type="text" class="form-control" asp-for="codEmpleado" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="IdTipoEmpleado" class="form-label">Tipo de Empleado</label>
                    <select asp-for="IdTipoEmpleado" class="form-control" asp-items="@(new SelectList(ViewBag.TiposEmpleado, "Value", "Text", Model.IdTipoEmpleado))">
                        <option value="">Seleccione un tipo de empleado</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Nombres" class="form-label">Nombres</label>
                    <input asp-for="Nombres" type="text" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label asp-for="Apellidos" class="form-label">Apellidos</label>
                    <input asp-for="Apellidos" type="text" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label asp-for="Dui" class="form-label">DUI</label>
                    <input asp-for="Dui" type="text" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label asp-for="Estado" class="form-label">Estado</label>
                    <select asp-for="Estado" class="form-control">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label>Imagen Actual:</label>
                    @if (!string.IsNullOrEmpty(Model.Imagen))
                    {
                        <div>
                            <img src="data:image/png;base64,@Model.Imagen" alt="Imagen del Empleado" style="max-width: 200px; max-height: 200px;" />
                        </div>
                    }
                    else
                    {
                        <p>No hay imagen disponible.</p>
                    }
                    <input type="file" class="form-control" name="imagen"/>
                    <small class="form-text text-muted">Seleccione una nueva imagen si desea cambiarla. (Opcional)</small>
                </div>

                <div class="mb-3">
                    <label asp-for="Usuario" class="form-label">Usuario</label>
                    <input asp-for="Usuario" type="text" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label asp-for="Clave" class="form-label">Clave</label>
                    <input asp-for="Clave" type="text" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a asp-action="Empleado" asp-controller="Empleado" class="btn btn-warning">Volver a la lista</a>
            </form>
        }
        else
        {
            <p>No se encontraron datos para este empleado.</p>
        }
    </div>
</div>


